---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
---

<Layout title="Blog">
  <Container>
    <div class="mt-16 max-w-3xl mx-auto text-center">
      <h1 class="text-4xl md:text-5xl font-bold tracking-tight">Blog</h1>
      <p class="text-slate-600 mt-4">
        We don’t maintain a blog at the moment. Please explore our services and reviews for more info.
      </p>
    </div>
  </Container>
</Layout>
