---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "General Contracting",
    description:
      "From minor repairs to full-scale renovations, we bring precision and professionalism to every project with lasting quality.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Painting Services",
    description:
      "Expert brushwork delivering smooth, flawless finishes that transform spaces with high-quality coatings.",
    icon: "bx:bxs-paint",
  },
  {
    title: "Carpentry & Woodwork",
    description:
      "Custom cabinetry, hardwood floor refinishing, and detailed framing with craftsmanship that ensures durability and elegance.",
    icon: "bx:bxs-wrench",
  },
  {
    title: "Custom 3D Renderings",
    description:
      "Visualize your space before construction begins with detailed photorealistic 3D previews and design planning.",
    icon: "bx:bxs-cube",
  },
  {
    title: "Bathroom Renovations",
    description:
      "Expertly crafted bathrooms with custom tile work and plumbing solutions, handled by our trusted subcontractors.",
    icon: "bx:bxs-bath",
  },
  {
    title: "Garage Installs & Upgrades",
    description:
      "From new doors to storage systems, we create functional garage spaces tailored to your needs.",
    icon: "bx:bxs-car-garage",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What We Do
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Renovations, bathrooms, carpentry, painting, and more for residential and light commercial projects across NJ.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-brand rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
